<div class="content">
  <h3 class="header">{{title}}</h3>

  <section class="recipes">
    <menu class="list">
      {{#each recipes}}
      {{> "modules/mythacri-scripts/templates/parts/crafting-recipe.hbs"}}
      {{/each}}
    </menu>

    <section class="selected"></section>
  </section>
</div>
