<div class="content">
  <h3 class="header">
    {{localize title}}
    <label class="checkbox">
      <input type="checkbox" id="available">
      {{localize "MYTHACRI.CraftingShowAvailableOnly"}}
    </label>
  </h3>
  <div class="sections">
    <section class="recipes">
      {{#each recipes}}
      {{> "modules/mythacri-scripts/templates/parts/crafting-recipe.hbs"}}
      {{/each}}
    </section>
    <section class="selected">
    </section>
  </div>
</div>
