<div class="mythacri-scripts item-transfer">
  <p>{{localize "MYTHACRI.TRANSFER.Message.Content" source=source.name item=item.name target=target.name}}</p>
  <div class="buttons">
    <button type="button" data-action="transfer">
      <i class="fa-solid fa-gift"></i>
      {{localize "MYTHACRI.TRANSFER.Message.Accept"}}
    </button>
    <button type="button" data-action="cancel">
      <i class="fa-solid fa-cancel"></i>
      {{localize "MYTHACRI.TRANSFER.Message.Cancel"}}
    </button>
  </div>
</div>
