<div class="standard-form">
  <fieldset>
    {{#each fields}}
    {{formGroup field value=value localize=true choices=choices}}
    {{/each}}
  </fieldset>

  <button type="submit">
    <i class="fa-solid fa-save"></i> {{localize "Save"}}
  </button>
</div>
