<div class="content">
  <div class="header">
    <i class="fa-solid fa-music"></i>
    <span class="name">{{localize "MYTHACRI.Soundboard"}}</span>
    <a data-action="toggle">
      <i class="fa-solid toggle"></i>
    </a>
  </div>
  <div class="sound-list">
    {{#each files}}
    <div class="sound" data-src="{{src}}">
      <div class="sound-name">{{name}}</div>
      <div class="actions">
        <a data-action="preview" data-tooltip="MYTHACRI.SoundboardPreview">
          <i class="fa-solid fa-play"></i>
        </a>
        <a data-action="play" data-tooltip="MYTHACRI.SoundboardBroadcast">
          <i class="fa-solid fa-rss"></i>
        </a>
      </div>
    </div>
    {{/each}}
  </div>
</div>
