/* ------------------------------ */
/*                                */
/*          ACTOR SHEETS          */
/*                                */
/* ------------------------------ */
.dnd5e.sheet.actor.character .alignment,
.dnd5e.sheet.actor.npc .legendary,
.dnd5e.sheet.actor.character .experience {
  display: none;
}
.dnd5e.sheet.actor.character .sheet-header .header-exp {
  flex: 0 0 160px;
}
.dnd5e.sheet.actor.character .sheet-header .xpbar {
  flex: 0 0 22px;
  display: flex;
  border-radius: 1em;
  border: 2px inset;
  overflow: hidden;
}
.dnd5e.sheet.actor.character .sheet-header .xpbar .pip {
  flex: 1;
  border-right: 2px groove black;
  opacity: 70%;
  margin: 1px 0;
}
.dnd5e.sheet.actor.character .sheet-header .xpbar .pip:last-child {
  border: none;
}
.dnd5e.sheet.actor.character .sheet-header .xpbar .pip.active {
  background-color: rgb(199 0 255 / 80%);
}

/* ------------------------------ */
/*                                */
/*         LOOT ITEM SHEET        */
/*                                */
/* ------------------------------ */
.dnd5e.sheet.item select[name^="flags.mythacri-scripts.resource"] {
  border: none;
}

/* ------------------------------ */
/*                                */
/*        RECIPE ITEM SHEET       */
/*                                */
/* ------------------------------ */
.dnd5e.sheet.item.recipe {
  min-height: 600px;
}
.dnd5e.sheet.item.recipe h4.components-header,
.dnd5e.sheet.item.recipe h4.target-header {
  margin: 0;
  padding: 0;
  font-weight: bold;
  line-height: 24px;
  color: #4b4a44;
}
.dnd5e.sheet.item.recipe [data-action="add-component"] {
  width: 18px;
  flex: 0 0 18px;
  line-height: 24px;
  float: right;
  text-align: right;
  color: #7a7971;
}
.dnd5e.sheet.item.recipe .recipe-status .checkbox {
  flex: none;
}
.dnd5e.sheet.item.recipe .recipe-components,
.dnd5e.sheet.item.recipe .recipe-targets {
  list-style: none;
  margin: 0;
  padding: 0;
}
.dnd5e.sheet.item.recipe .recipe-components .recipe-component,
.dnd5e.sheet.item.recipe .recipe-targets .recipe-target {
  flex: 0 0 100%;
  padding: 0;
}
.dnd5e.sheet.item.recipe .recipe-components .recipe-component [type="number"],
.dnd5e.sheet.item.recipe .recipe-targets .recipe-target [type="number"] {
  flex: 0 0 40px;
  margin-right: 5px;
  text-align: center;
}
.dnd5e.sheet.item.recipe .recipe-targets .recipe-target .content-link {
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.dnd5e.sheet.item.recipe [data-action="delete-component"],
.dnd5e.sheet.item.recipe [data-action="clear-target"] {
  width: 18px;
  flex: 0 0 18px;
  line-height: 24px;
  float: right;
  text-align: right;
  color: #7a7971;
}

/* ------------------------------ */
/*                                */
/*        MAYHEM INTERFACE        */
/*                                */
/* ------------------------------ */
.mythacri-scripts.mayhem-ui {
  width: 400px;
}
.mythacri-scripts.mayhem-ui .content {
  display: flex;
  flex-direction: column;
}
.mythacri-scripts.mayhem-ui .content .note {
  font-style: italic;
  margin: 1em 1em 2em 1em;
  align-self: center;
}
.mythacri-scripts.mayhem-ui .content .controls {
  display: flex;
  flex: 1;
  gap: 1em;
}
.mythacri-scripts.mayhem-ui .content .controls [data-action] {
  font-size: 40px;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 0.5em 0;
  text-align: center;
  align-items: center;
}
.mythacri-scripts.mayhem-ui .content .diff {
  width: 100%;
  text-align: center;
  font-style: italic;
  padding: 0.5em 0;
  color: gray;
  font-size: 25px;
  margin-bottom: 0.5em;
}
.mythacri-scripts.mayhem-ui .content [data-action="submit"] {
  font-size: 20px;
  padding: 5px 0;
}

/* ------------------------------ */
/*                                */
/*       CRAFTING INTERFACE       */
/*                                */
/* ------------------------------ */
.mythacri-scripts.crafting {
  min-height: 400px;
  overflow: hidden;
  max-height: 90%;
}
.mythacri-scripts.crafting .content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.mythacri-scripts.crafting nav.tabs {
  font-weight: bold;
  padding-bottom: 5px;
  font-size: 16px;
}
.mythacri-scripts.crafting .tab {
  overflow: hidden overlay;
  flex: 1;
  border: 2px inset;
}
.mythacri-scripts.crafting .recipe {
  border-top: 2px inset;
  border-bottom: 2px inset;
  padding: 1em;
}
.mythacri-scripts.crafting .recipe:first-child {
  border-top: none;
}
.mythacri-scripts.crafting .recipe:last-child {
  border-bottom: none;
}
.mythacri-scripts.crafting .recipe .header .name {
  font-size: 25px;
  font-family: "Modesto Condensed";
  display: flex;
  justify-content: space-between;
}
.mythacri-scripts.crafting .recipe .header .basic {
  font-style: italic;
  color: gray;
}
.mythacri-scripts.crafting .recipe .target {
  border-top: 2px groove;
  border-bottom: 2px groove;
  padding: 0.5em 0;
  margin-top: 0.5em;
}
.mythacri-scripts.crafting .recipe .details {
  display: flex;
  gap: 1em;
}
.mythacri-scripts.crafting .recipe .details .description {
  flex: 3;
  font-style: italic;
}
.mythacri-scripts.crafting .recipe .details .components {
  padding-top: 5px;
  flex: 2;
}
.mythacri-scripts.crafting .recipe .details .components .component {
  white-space: nowrap;
  margin: 3px;
  padding: 0 2px;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  text-align: center;
  font-size: 13px;
  line-height: 18px;
}
.mythacri-scripts.crafting .recipe .details .components .component.missing {
  color: red;
}

/* ------------------------------ */
/*                                */
/*        CRAFTING HANDLER        */
/*                                */
/* ------------------------------ */
.mythacri-scripts.crafting-handler {
  min-height: 100px;
  max-height: 90%;
  width: auto !important;
  min-width: 200px;
}
.mythacri-scripts.crafting-handler img {
  border-radius: 5px;
  border: none;
  height: 60px;
  width: 60px;
  max-height: 60px;
  max-width: 60px;
}
.mythacri-scripts.crafting-handler .header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-bottom: 3px groove;
  padding-bottom: 1em;
}
.mythacri-scripts.crafting-handler .header img {
  height: 50px;
  border: none;
}
.mythacri-scripts.crafting-handler .components {
  display: flex;
}
.mythacri-scripts.crafting-handler .column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
}
.mythacri-scripts.crafting-handler .column:not(:last-child) {
  border-right: 2px groove;
}
.mythacri-scripts.crafting-handler .components .component-header,
.mythacri-scripts.crafting-handler .components .component {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mythacri-scripts.crafting-handler .components .component {
  flex: 1;
  margin: 5px;
}
.mythacri-scripts.crafting-handler .components .component img.active {
  filter: drop-shadow(0 0 10px blue);
}
.mythacri-scripts.crafting-handler .components .component img {
  filter: grayscale(1);
}
.mythacri-scripts.crafting-handler .components .component-header {
  border-bottom: 2px groove;
  flex: none;
  padding-bottom: 1em;
  padding-top: 0.5em;
  margin-bottom: 0.5em;
}
.mythacri-scripts.crafting-handler .components .component-header .counter {
  color: gray;
}
.mythacri-scripts.crafting-handler .components .component-header .label {
  font-weight: bold;
  font-family: "Modesto Condensed";
  font-size: 20px;
}
.mythacri-scripts.crafting-handler .craft {
  margin-top: 5px;
}
.mythacri-scripts.crafting-handler .craft:disabled {
  background-color: inherit;
  color: rgb(163, 163, 163);
}

/* ------------------------------ */
/*                                */
/*           SOUNDBOARD           */
/*                                */
/* ------------------------------ */
.mythacri-scripts.soundboard {
  border: 1px solid var(--color-border-dark);
  height: auto !important;
}
.mythacri-scripts.soundboard .window-header {
  display: none;
}
.mythacri-scripts.soundboard .window-content {
  background: unset;
  color: unset;
}
.mythacri-scripts.soundboard .header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px groove var(--color-border-dark-secondary);
  padding-bottom: 0.5em;
}
.mythacri-scripts.soundboard .header .toggle:before {
  content: "\f078";
}
.mythacri-scripts.soundboard .header.collapsed .toggle:before {
  content: "\f077";
}
.mythacri-scripts.soundboard .sound-list {
  overflow: hidden;
}
.mythacri-scripts.soundboard .collapsed + .sound-list {
  height: 0;
}
.mythacri-scripts.soundboard .sound {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}
.mythacri-scripts.soundboard .sound .sound-name {
  overflow: hidden;
  flex: 1;
}
.mythacri-scripts.soundboard .sound .actions {
  margin-left: 5px;
}
.mythacri-scripts.soundboard .sound .actions a {
  margin: 0 5px;
}

/* ------------------------------ */
/*                                */
/*       ENCOUNTER SUSPENSE       */
/*                                */
/* ------------------------------ */
.mythacri-scripts.encounter {
  width: auto !important;
  min-width: 400px;
}
.mythacri-scripts.encounter button {
  margin: 5px 2px;
}
.mythacri-scripts.encounter .roll {
  display: flex;
}
.mythacri-scripts.encounter .roll [data-action=adjust] {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 3em;
}
.mythacri-scripts.encounter .player {
  border: 2px inset;
  padding: 3px;
}
.mythacri-scripts.encounter .player.match {
  color: green;
}
.mythacri-scripts.encounter .player.mismatch {
  color: red;
}
.mythacri-scripts.encounter .gm .rolls {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.mythacri-scripts.encounter .gm .rolls .roll {
  min-width: 40px;
  line-height: 40px;
  justify-content: center;
  margin-right: 5px;
  background-image: url(../../../icons/svg/d12-grey.svg);
  background-repeat: no-repeat;
  background-size: 40px 40px;
  font-size: var(--font-size-16);
  font-weight: bold;
  color: gray;
}
.mythacri-scripts.encounter .gm .rolls .roll:first-child {
  margin-left: 1em;
}
.mythacri-scripts.encounter .gm .rolls .roll.match {
  color: black;
  filter: drop-shadow(0 0 3px green);
}
