<h3 class="header">
  {{localize title}}
  <label class="checkbox">
    <input type="checkbox" id="available" {{checked availableOnly}}>
    {{localize "MYTHACRI.CRAFTING.ShowAvailable.hint"}}
  </label>
</h3>
