<div class="recipe {{ifThen isAvailable "available" "unavailable"}}" data-uuid="{{recipe.uuid}}">
  <div class="header">
    <a class="label" data-action="show">{{recipe.name}}</a>
    <div class="basic">{{#if isBasic}}{{localize "MYTHACRI.ItemRecipeBasic"}}{{/if}}</div>
  </div>
</div>
