{{#if cooking}}
<div class="counter flexrow cooking">
  <h4 class="rollable" data-action="cooking">
    {{localize "MYTHACRI.CraftingSectionCooking"}}
  </h4>
</div>
{{/if}}

{{#if rune}}
<div class="counter flexrow rune-carving">
  <h4 class="rollable" data-action="rune">
    {{localize "MYTHACRI.CraftingSectionRune"}}
  </h4>
</div>
{{/if}}

{{#if spirit}}
<div class="counter flexrow spirit-binding">
  <h4 class="rollable" data-action="spirit">
    {{localize "MYTHACRI.CraftingSectionSpirit"}}
  </h4>
</div>
{{/if}}

{{#if monster}}
<div class="counter flexrow monster-crafting">
  <h4 class="rollable" data-action="monster">
    {{localize "MYTHACRI.CraftingSectionMonster"}}
  </h4>
</div>
{{/if}}
