<div class="item-detail runes" data-tooltip="MYTHACRI.CRAFTING.RUNE.Configure">
  <a class="runes" data-action="rune-config">
    {{value}} / {{max}}
    <i class="fa-solid fa-gem"></i>
  </a>
</div>
